.background-white {
    background-color: $white;
}


.background-gold {
    background-color: $ucf-gold;
}

.background-grey {
    background-color: #f1f1f1;
}

.background-red {
    background-color: $red;
}

.background-black {
    background-color: $black;
}