// scss-lint:disable all

//
// Container and column classes
//

// The email's wrapper table
.container-body {
  background-color: $body-bg;
  min-width: 100%;
  table-layout: fixed;
  width: 100%;
}

// An outermost container table
.container-outer {
  @include mobile-mq() {
    margin: 0 !important;
    min-width: 0 !important;
    width: 100% !important;
  }

  margin: 0 auto;
  min-width: $email-width;
  width: $email-width;
}

// The firstmost inner tables, which should be padded at mobile sizes
.container-inner {
  @include mobile-unset-border-x();
  @include mobile-mq() {
    margin: 0 !important;
    min-width: 0 !important;
    padding-left: ($email-width - $email-inner-width) / 2;
    padding-right: ($email-width - $email-inner-width) / 2;
    width: 100% !important;
  }
  @include mobile-sm-mq() {
    padding-left: $gutter / 2;
    padding-right: $gutter / 2;
  }

  margin: auto;
  min-width: $email-inner-width;
  width: $email-inner-width;
}

// The firstmost inner tables, which should be padded at mobile sizes
.container-inner-inner {
  @include mobile-unset-border-x();
  @include mobile-mq() {
    margin: 0 !important;
    min-width: 0 !important;
    width: 100% !important;
  }

  margin: auto;
  min-width: 480px;
  width: 480px;
}

// Generic class for a th or td that should collapse to 100% width at mobile sizes
.mobile-column-collapse {
  @include mobile-unset-border-x();
  @include mobile-unset-margin-x();
  @include mobile-unset-padding-x();
  @include mobile-mq() {
    clear: both;
    display: block !important;
    float: left;
    overflow: hidden;
    width: 100% !important;
  }
}

// Left-hand column (1 of 2) with gutter
.column-2-1 {
  padding-right: $gutter / 2;
  width: 50%;
}

// Right-hand column (2 of 2) with gutter
.column-2-2 {
  padding-left: $gutter / 2;
  width: 50%;
}


//
// Email footer
//
.brand-footer-inner {
  @include mobile-mq() {
    max-width: 100% !important;
    min-width: auto !important;
    width: auto !important;
  }

  margin: auto;
  min-width: $email-footer-width;
  width: $email-footer-width;
}
