// scss-lint:disable all

//
// Font Family
//
.font-serif {
  font-family: $font-family-serif;
}

.font-sans-serif {
  font-family: $font-family-sans-serif;
}

//
// Alignment
//
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}


//
// Font size
//
.lead {
  font-size: $lead-font-size;
  letter-spacing: $lead-letter-spacing;
  line-height: $lead-line-height;
}

.small {
  font-size: $small;
}

.display-1 {
  font-size: $font-size-display-1;
  font-weight: bold;
  line-height: $display-line-height;

  @include mobile-mq() {
    font-size: $font-size-display-1-mobile !important;
  }
}

.display-2 {
  font-size: $font-size-display-2;
  font-weight: bold;
  line-height: $display-line-height;

  @include mobile-mq() {
    font-size: $font-size-display-2-mobile !important;
  }
}

.display-3 {
  font-size: $font-size-display-3;
  font-weight: bold;
  line-height: $display-line-height;

  @include mobile-mq() {
    font-size: $font-size-display-3-mobile !important;
  }
}

.display-4 {
  font-size: $font-size-display-4;
  font-weight: bold;
  line-height: $display-line-height;

  @include mobile-mq() {
    font-size: $font-size-display-4-mobile !important;
  }
}

.h1 {
  font-size: $font-size-h1;
  font-weight: bold;
  line-height: $heading-line-height;
}

.h2 {
  font-size: $font-size-h2;
  font-weight: bold;
  line-height: $heading-line-height;
}

.h3 {
  font-size: $font-size-h3;
  font-weight: bold;
  line-height: $heading-line-height;
}


//
// Font weight
//
.font-weight-bold {
  font-weight: 700;
}


//
// Font color
//
.text-white {
  color: $white;
}
.text-primary {
  color: $brand-primary;
}

.text-secondary {
  color: $brand-secondary;
}

.text-default {
  color: $brand-default;
}


//
// Other
//
.text-uppercase {
  text-transform: uppercase;
}

.text-decoration-none {
  text-decoration: none;
}

.text-underline {
  text-decoration: underline;
}

.font-italic {
  font-style: italic;
}
